Cython
h5py
numpy
Pillow
scipy
torchvision
gpustat
easydict
msgpack-numpy
msgpack
colorlog
cvbase
keras
trash-cli
scikit-image
opencv-python
lmdb
# tensorboardX
tabulate
# tensorflow-gpu
# tensorboard
tqdm
# mxnet-cu90mkl
# torch
