h5py
tabulate
# tensorflow-gpu
# torch
tqdm
# mxnet-cu90
# mxnet-cu100
bcolz
# torchvision
colorlog
cvbase
keras
lmdb
redis
future-fstrings
# dlib==19.10
# conda create -n py3 python=3.7 anaconda pytorch faiss-cpu tensorflow-gpu torchvision tensorboard trash-cli scikit-learn scikit-image opencv trash-cli easydict  gpustat tensorboardX
# conda install anaconda pytorch faiss-cpu tensorflow-gpu torchvision tensorboard trash-cli scikit-learn scikit-image opencv trash-cli easydict  gpustat tensorboardX
msgpack
msgpack-numpy
ipython
matplotlib
pandas
numpy
Pillow
scipy
